{% extends "_layout.html" %}

{% block title %}
  Users | Nextagram
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% for user in users %}
<div class="container-fluid">
  <div class="row bg-white mt-4 pt-4">
    <div class="col-sm-2 pt-3">
      <h5 class="text-center">{{user.username}}</h5>
      <div>
        <img src="{{user.profile_image_url}}" alt="" class="rounded-circle profile-index-image">
      </div>
      
      <form action="{{url_for('users.show', username = user.username)}}" class="text-center">
        <button class="btn btn-primary mt-5 mb-3 w-100" type="submit">See more</button>
      </form>
    </div>
    
    <div class="col">
      
      <div class="row">
        {% for image in user.images %}
        <div class="col-sm-4">
          
          <img src="{{image.new_image_url}}" alt="" class="picture">
          
        </div>
        {% endfor %}  
      </div>
      
  
      
    </div>
    
  </div>

</div>
{% endfor %}
  
{% endblock %}