{%extends "_layout.html" %}

{% block header %}
{% endblock %}
{% block title %}Sign In | Nextagram{% endblock %}
{% block content %}

<div class="row mt-3">
    <div class="col-lg-3 col-md-4 col-sm-5">
        <img src="{{user.profile_image_url}}"  class="profile-picture rounded float-left w-100"/>
    </div>
    <div class="col-md-5 col-lg-6 mt-4">
        <h4>Name: {{name}}</h4>
        <h4>Email : {{user.email}}</h4>
        <br>
        <form action="{{url_for('images.new')}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% if current_user == user %}
            <button type="submit" class="btn btn-primary" style="width: 100%;">Create a Post</button> 
            {% endif %}
        </form>
    </div>
        
</div>


{% if not current_user == user %}
<div class="row bg-light">
    {% if not user.is_private %}
    {% for image in images %}
    <div class="col-sm-4 mt-5">
                
        <img src="{{image.new_image_url}}" class="picture img-fluid" alt="">
        <form action="{{url_for('transactions.new_checkout', image_id = image.id)}}" class="form">
            <button type="submit" class="btn btn-primary">Donate</button>
        </form>
        <p class="text-center donation mt-3">Total Donation : {{image.donations_sum}} </p>
        
    </div>
    {% endfor %}
            

    {% else %}
    <div class= "d-flex m-auto">
        <img src="/static/lock.png" width="70" height="70" alt="">
        <div>
            <h3>This account is private</h3>
            <p>Follow their account to see their photos and videos.</p>
        </div>
        
    </div>
    
    {% endif %}
        
</div>
        
    
{% endif %}

{% if current_user == user %}
<div class="row bg-light">
    {% for image in images %}
    <div class="col-sm-4 mt-5">
                
        <img src="{{image.new_image_url}}" class="picture img-fluid" alt="">
                
    </div>
    {% endfor %}
</div>    
    {% endif %}





{% endblock %}