body {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
}

.navbar {
  border: solid lightgray 1px;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

.input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-color: rgb(206,212,218);
  border-radius: 4px;
  border-width: 1px;  
}

.error {
  font-size: 650%;
  text-align: center;
}

.error1{
  padding-top: 12%;
}

.error2{
  font-size: 500%;
  padding-top: 25px;
}

.words {
  font-size: 150%;
}

.error-image{
  width: 150px;
  height: 150px;
  margin-left: 20px;
}

.picture {
  height: 400px;
  width: 80%;
}

.profile-picture{
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form {
  text-align: center;
  margin-top: 10px;
  width: 80%;
}

.donation {
  width: 80%;
}

.profile-index-image{
  padding: 5px;
  height: auto;
  width: 100%;
  margin-top: 20px;
  border: solid lightgray 1px;
  background-color: white;
}

.image-feed {
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.feed{
  padding-top: 20px;
  margin-bottom: 50px;
  margin-left: 10%;
}

.image-icon {
  border: solid lightgray 1px;
  padding: 2px;
  background-color: white;
}

.text {
  margin-top: 300px;
}

.slogan {
  font-size: 100%;
}

.user-image {
  border: lightgray 1px;
}

.right {
  position: fixed;
  left: 63%;
  width : 25%
}

.username {
  text-decoration: none;
}

.idol {
  font-weight: bold;
  color: gray;
}

.idol-list {
  border: solid lightgray 1px;
  background-color: white;
  width: 100%;
  padding-top: 10px;
  
}

.username-story {
  text-decoration: none;
  font-size: 80%;
}

.story {
  border: lightgray solid 1px;
  background-color: white;
  padding-left: 20px;
  overflow-x: scroll;
}

.story-row {
  margin-left: 10%;
  margin-top: 20px;
}

.right-button {
  position: absolute;
  right: 1%;
  top : 40%;
  border-radius: 50%;
  width: 4.5%;
  background-color: white;
  border: lightgray solid 1px;

}

.carousel-image {
  height: auto;
}