body {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

.input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-color: rgb(206,212,218);
  border-radius: 4px;
  border-width: 1px;  
}

.error {
  font-size: 650%;
  text-align: center;
}

.error1{
  padding-top: 12%;
}

.error2{
  font-size: 500%;
  padding-top: 25px;
}

.words {
  font-size: 150%;
}

.error-image{
  width: 150px;
  height: 150px;
  margin-left: 20px;
}

.picture {
  height: 80%;
  width: 80%;
}

.profile-picture{
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}